.container {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}
.item1{

}
.item2{
}
.item3{
}
.item4{}
.item5{}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  position: relative;
}

.item {
  background-color: #ddd;
  padding: 20px;
  text-align: center;
}

/* 셀1 앞의 라인 시각화 */
.item1::before {
  content: "";
  position: absolute;
  left: 0; /* 라인1 위치 */
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: red;
}